__pycache__/
*.py[cod]
*.class
*.so
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.env
venv/
ENV/
env/

*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
.gradle/
build/
local.properties
.idea/
*.iml
.cxx/
*.jks
*.keystore
.DS_Store
*.log
.gemini/
